h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}
.content {
  display: flex;
  flex-wrap: wrap;
  }

div,
header,
section,
footer
{
  background-color: silver;
  border: 1px solid black;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  margin-bottom: 5%;
}



